In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
data = pd.read_csv('./Dataset/rating_reviews.csv')

In [5]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [8]:
data.shape

(20491, 2)

In [9]:
data.size

40982

In [10]:
data.columns

Index(['Review', 'Rating'], dtype='object')

In [11]:
data.isnull().sum()

Review    0
Rating    0
dtype: int64

In [12]:
data['Rating'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [17]:
data['Review'] = data['Review'].str.replace("[^a-zA-Z#]"," ")

In [19]:
tokenized_reviews = data['Review'].apply(lambda x: x.split())
tokenized_reviews.head()

0    [nice, hotel, expensive, parking, got, good, d...
1    [ok, nothing, special, charge, diamond, member...
2    [nice, rooms, not, experience, hotel, monaco, ...
3    [unique, great, stay, wonderful, time, hotel, ...
4    [great, stay, great, stay, went, seahawk, game...
Name: Review, dtype: object

In [20]:
tokenized_reviews.tail()

20486    [best, kept, secret, rd, time, staying, charm,...
20487    [great, location, price, view, hotel, great, q...
20488    [ok, just, looks, nice, modern, outside, desk,...
20489    [hotel, theft, ruined, vacation, hotel, opened...
20490    [people, talking, ca, n, t, believe, excellent...
Name: Review, dtype: object